body {
    margin:0;
    padding:0;
    font-family: crystal;
}

.container-search {
    width:100%;
    margin:0 auto;
   
}
#header {
    background-color:#483D8B;
    color:#FFFFFF;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
   
}

.header-color {
    padding-top:10px;
    padding-bottom:10px;
    background-color:lightgray;
}

#parameters,
#articles {
    margin:0;
    border:1px solid lightgray;
}

#parameters {
    background-color:whitesmoke;
}

#articles {
    background-color:#FFFAFA;
}



footer {
    margin-top:20px;
    padding-bottom:10px;
    
}